@model SquadManager.Models.UserViewModel

<section>
   <h1>Autenticação</h1>
   <input type="text" name="email" value="" placeholder />
   <input type="password" name="password" value="" placeholder  />
   <a href="#">Esqueceu a senha?</a>
   <button>Login</button>
   <label>Não tem conta?</label> <a href="#">Crei aqui</a>
</section>